.contact-content{
    .container {
        img{
            max-height: 340px;
        }
    }
    .contact-info{
        p{
            font-size: 20px;
            font-family: UVNNhatKy_R;
        }
    }
}